<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="alis_uatConnectionString" connectionString="data source=lfnsql001UT;initial catalog=uat_sandbox;persist security info=True;user id=RAxelrad;password=a18@4d182VmF;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="UAT" connectionString="metadata=res://*/Model.UAT_Model.csdl|res://*/Model.UAT_Model.ssdl|res://*/Model.UAT_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lfnsql001UT;initial catalog=auth_uat;persist security info=True;user id=RAxelrad;password=a18@4d182VmF;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PROD" connectionString="metadata=res://*/Model.UAT_Model.csdl|res://*/Model.UAT_Model.ssdl|res://*/Model.UAT_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.134.5.10;initial catalog=auth_db_prod;persist security info=True;user id=RAxelrad;password=a18@4d182VmF;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIT" connectionString="metadata=res://*/Model.UAT_Model.csdl|res://*/Model.UAT_Model.ssdl|res://*/Model.UAT_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LFNSQL001SIT;initial catalog=auth_sit;persist security info=True;user id=TflDb;password=TFL@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RED" connectionString="metadata=res://*/Model.UAT_Model.csdl|res://*/Model.UAT_Model.ssdl|res://*/Model.UAT_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=876630-SQLDEV.fblife.com;initial catalog=SIT_red_auth_db;persist security info=True;user id=TflAdmin;password=TFL@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BLUE" connectionString="metadata=res://*/Model.UAT_Model.csdl|res://*/Model.UAT_Model.ssdl|res://*/Model.UAT_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=876630-SQLDEV.fblife.com;initial catalog=SIT_blue_auth_db;persist security info=True;user id=TflAdmin;password=TFL@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WHITE" connectionString="metadata=res://*/Model.UAT_Model.csdl|res://*/Model.UAT_Model.ssdl|res://*/Model.UAT_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=876630-SQLDEV.fblife.com;initial catalog=SIT_white_auth_db;persist security info=True;user id=TflAdmin;password=TFL@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReporterCompactModel" connectionString="Data Source=C:\Users\Roni.axelrad\Source\Repos\Reporter\Reporter\Db\ReporterCompactDb.sdf" providerName="System.Data.SqlServerCe.4.0" /></connectionStrings>
</configuration>